<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
      <div class="table-responsive">
        <table class="table mb-0"
               *ngIf="users && users.length">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td><a [routerLink]="'/userdetail/'+[user.id]">{{user.firstName | uppercase}}</a></td>
                    <td>{{user.lastName}}</td>
                    <td><button (click)="onDeleteUser(user.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
</div>
</div>
